<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Server Admin Main Menu</big></big><br>

<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="text-align: center;"><a href="?op=selectdomain">Choose-Select or Add Domain</a></td>
      
      
    </tr>
    <tr>
      <td style="text-align: center;">{quickdomains}</td>
      
      
    </tr>
    <tr>
      <td style="text-align: center;"><a href="?op=otheroperations">Other Operations</a></td>
      
      
    </tr>
  </tbody>
</table>
