
<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Domain Menu For Reseller/Admin<br></big></big><big style="font-weight: bold;"><big><br></big></big>


<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMAIN
OPERATIONS <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       
        <li><a href="?op=customhttp">List / Add Custom http </a></li>
        <li><a href="?op=customdns">List / Add Custom dns </a></li>
	<li><a href="?op=subdomains">List / Add SubDomains </a></li>
	<li><a href="?op=directories">List / Add Password Protected Directories </a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">FTP USER OPERATIONS<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=editftpuser">Change FTP Password / Settings</a></li></ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL OPERATIONS<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        
        <li><a href="?op=listemailusers">List Email Users / Change Passwords</a></li>
        <li><a href="?op=addemailuser">Add Email User</a></li>
	<li><a href="?op=emailforwardings">List/Add email forwardings</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL DATABASE OPERATIONS<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Add Mysql Db</a></li>
        <li><a href="?op=domainop&amp;action=listdb">List Mysql Db's</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">OTHER</span></div>
      <ol>
      <li><a href="?op=addscript">Easy Install Scripts</a></li></ol>
      </td>
      <td style="vertical-align: top;"><div style="text-align: center;"><span style="font-weight: bold;">CHANGE DOMAIN SETTINGS</span></div>
      <ol><li><a href="?op=domainsettings">Change Settings for this domain</a></li><li><a href="?op=editdomain">Activate / De-activate domain</a></li><li><a href="?op=transferdomain">Transfer domain</a></li><li><a href="?op=deletedomain">DELETE DOMAIN/HOSTING</a></li></ol></td>
      <td></td>
    </tr>
  </tbody>
</table>
