<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>


<title>..::Easy Hosting Control Panel::.. (ehcp) www.ehcp.net</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="images/style.css">


</body>
<style type="text/css">
<!--
.style1 {
	font-size: 14
}
-->
</style>
<div align="center"><img src="images/reseller.png" width="500" height="100"></div>
<p>&nbsp;</p>
<div align="center">
  <table width="600" border="1">
    <tr>
      <td><div align="center">
        <p><img src="images/domain.png" width="300" height="100"></p>
      </div>
      
            <ol class="style1">
       <li><a href="?op=listdomains">List Domains</a></li>
       <li><a href="?op=adddomaineasy">Easy Add Domain(hosting, all usernames/pass same) </a></li> 
       <li><a href="?op=adddomain">Add Domain(hosting) </a></li>
       
        <li><a href="?op=listpassivedomains">List passive domains and new domain applications</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">List / Add Custom http </a></li>
        <li><a href="?op=customdns">List / Add Custom dns </a></li>
	<li><a href="?op=subdomains">List / Add SubDomains </a></li>
	<li><a href="?op=directories">List / Add Password Protected Directories </a></li>
      </ol>      </td>
      <td><p align="center"><img src="images/ftp.png" width="300" height="100"></p>
      <ol>
        <li><a href="?op=listallftpusers">List All
Ftp Users</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">List
Ftp Users related to domains</a></li>
        <li><a href="?op=listftpuserswithoutdomain">List
Ftp Users without a domain</a></li>
        <li><a href="?op=addftpuser">Add Ftp User</a></li>
      </ol>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>



    </tr>
    <tr>
      <td><p align="center"><img src="images/email.png" width="300" height="100"></p>

<ol>
        <li><a href="?op=listemailusers">List Email Users of a domain</a></li>
        <li><a href="?op=listallemailusers">List All Email Users</a></li>
        <li><a href="?op=addemailuser">Add Email User</a></li>
	<li><a href="?op=emailforwardings">List/Add email forwardings</a></li>
      </ol>

</td>
      <td><p align="center"><img src="images/mysql.png" width="300" height="100"></p>
      <ol>
        <li><a href="?op=addmysqldb">Add Mysql Db</a></li>
        <li><a href="?op=domainop&amp;action=listdb">List Mysql Db's</a></li>
        <p>&nbsp;</p>
      </ol
      ></td>
    </tr>
    <tr>
      <td><p align="center"><img src="images/other.png" width="300" height="100"></p>
  <ol>
        <li><a href="?op=listpanelusers">List Panel Users/Resellers</a></li>
	<li><a href="?op=addpaneluser">Add Panel User/Reseller</a></li>
	<li><a href="?op=addscript">Easy Install Scripts</a></li>
 
        <li><a href="?op=changemypass">Change my password</a></li>
        <li><a href="?op=dosyncdns">Sync dns</a></li>
        <li><a href="?op=dosyncdomains">Sync domains</a></li>
        <li><a href="?op=help">Help-Yardim</a></li>
        <li><a href="?op=todolist">Roadmap/Todo
List/Plans</a></li>
        <li><a href="?op=aboutcontactus">About/Contact
Us</a></li>
      </ol></td>
      <td><p align="center">&nbsp;</p>
      <p>&nbsp;</p></td>
    </tr>
  </table>
</div>
<p align="center">&nbsp;</p>
</html>