<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>


<title>..::Easy Hosting Control Panel::.. (ehcp) www.ehcp.net</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="images/style.css">


</body>
<style type="text/css">
<!--
.style1 {
	font-size: 14
}
-->
</style>
<div align="center"><img src="images/reseller.png" width="500" height="100"></div>
<table width="600" border="1" align="center" >
  <tr>
    <td><span style="text-align: center;"><br>
        <span style="text-decoration: underline;">List / Choose Resellers<br>
        Add Reseller<br>
        <br>
        </span><a href="?op=otheroperations"></a><br>
    Return to Main Menu</span></td>
  </tr>
</table>
<p>&nbsp;</p>
<div align="center"></div>
<p>&nbsp;</p>
</html>