<div style="text-align: center">

	<h2>{domainname} 的首頁</h2><br>	

	<p>這個網站是放在 EHCP 伺服器上, <a href=http://www.ehcp.net>www.ehcp.net</a>, ehcp 是一個專為 Ubuntu 設計的主機管理介面, <br>

	要更換這頁, 請使用 ftp (像是filezilla的程式或是 <a target=_blank href='http://{webserverip}/ehcp/net2ftp/'>webftp</a>) 來上傳您的檔案到 httpdocs 目錄裡面<br>

	管理介面的主機應該在 <a href='http://{webserverip}/ehcp'>這裡 (http://{webserverip}/ehcp)</a>

	(ip:{webserverip})</p>

	您的本機 IP: {localip}<br>

</div>



<br>

<script type="text/javascript"><!--

google_ad_client = "pub-0768633782379013";

/* ehcp.net 468x60, created 2/12/08 */

google_ad_slot = "2130773422";

google_ad_width = 468;

google_ad_height = 60;

//-->

</script>

<script type="text/javascript"

src="http://pagead2.googlesyndication.com/pagead/show_ads.js">

</script>

