	<!-- Content -->

	<article class="container_12">

		

		<section class="grid_4">

			<div class="block-border"><div class="block-content">

				<h1>快速操作</h1>

				

				<ul class="favorites no-margin with-tip" title="快速操作">

					

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/sync-icon.png" width="48" height="48">

						<a href="?op=dosyncdomains">同步網域<br>

						<small>系統 &gt; 同步網域</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/reload-dns.png" width="48" height="48">

						<a href="?op=dosyncdns">重新讀取 DNS 區域<br>

						<small>系統 &gt; 重新讀取 DNS 區域</small></a>

					</li>

					

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">

						<a href="?op=doupdatediskquota">更新磁碟配額<br>

						<small>系統 &gt; 更新所有網域的磁碟配額</small></a>

					</li>

					



					

				</ul>

				

				

				

			</div></div>

		</section>

		

		

		<section class="grid_8">

			<div class="block-border"><div class="block-content">

				<h1>管理控制介面</h1>

				

				<h3>管理員</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listpanelusers" title="列出所有管理員或客戶">

						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">列出管理員

					</a></li>

					<li><a href="?op=addpaneluser" title="新增管理員或用戶">

						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">新增管理員

					</a></li>

				</ul>

				

				<h3>網域</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=selectdomain">

						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">列出網域

					</a></li>

					<li><a href="?op=adddomain">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">新增網域

					</a></li>

					<li><a href="?op=adddomaineasy">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">快速新增網域

					</a></li>

					<li><a href="?op=customdns">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">列出自訂 DNS

					</a></li>

					<li><a href="?op=customhttp">

						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">列出自訂網頁

					</a></li>

					<li><a href="?op=directories">

						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">列出受密碼保護的目錄

					</a></li>					

					</ul>

					

				

				<h3>FTP</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listallftpusers" title="列出所有 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">列出所有 FTP 用戶

					</a></li>

					<li><a href="?op=addftpuser" title="新增 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增 FTP 用戶

					</a></li>

					<li><a href="?op=listftpusersrelatedtodomains" title="列出這個網域所有的 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">列出這個網域所有的 FTP 用戶

					</a></li>

					<li><a href="?op=listftpuserswithoutdomain" title="列出沒有網域的 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">列出沒有網域的 FTP 用戶

					</a></li>

					<li><a href="net2ftp" title="Net2FTP/檔案管理" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">檔案管理

					</a></li>

				</ul>

				

				<h3>電子郵件</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listemailusers" title="列出網域的電子郵件位址">

						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">列出網域的電子郵件位址

					</a></li>

					<li><a href="?op=addemailuser" title="新增電子郵件位址到指定的網域">

						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">新增電子郵件位址

					</a></li>

					<li><a href="?op=bulkaddemail" title="新增整批電子郵件位址到指定網域">

						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">新增整批電子郵件位址

					</a></li>

					<li><a href="?op=emailforwardings" title="列出電子郵件轉寄">

						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">列出電子郵件轉寄

					</a></li>

					<li><a href="webmail" title="網頁郵件/Squirrel 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel 網頁郵件

					</a></li>

					<li><a href="webmail2" title="網頁郵件/Roundcube 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube

					</a></li>

				</ul>

				

				

				<h3>MySQL</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=domainop&amp;action=listdb" title="列出所有 MYSQL 資料庫">

						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">列出 MySQL 資料庫

					</a></li>

					<li><a href="?op=addmysqldb" title="新增這個網域的 MYSQL 資料庫 &amp; 用戶">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 資料庫 &amp; 用戶

					</a></li>

					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">

						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin

					</a></li>

					<li><a href="/ehcp/chive" target="_blank" title="Chive">

						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive

					</a></li>

				</ul>

				

				<h3>系統</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=changemypass">

						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">變更密碼

					</a></li>

				</ul>

			</div></div>

		</section>

		

				

	

	<!-- End content -->

	

	<footer>

		<!--

		<div class="float-left">

			<a href="#" class="button">Help</a>

			<a href="#" class="button">About</a>

		</div>

		-->

		<div class="float-right">

			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> 回頁首</a>

		</div>

		

	</footer>



<!--[if lt IE 8]></div><![endif]-->

<!--[if lt IE 9]></div><![endif]-->