<!-- Content -->

	<article class="container_12">

		

		<section class="grid_4">

			<div class="block-border"><div class="block-content">

				<h1>快速操作</h1>

				

				<ul class="favorites no-margin with-tip" title="快速操作">

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">

						<a href="?op=changedomainserverip">變更網域伺服器 IP<br>

						<small>網域 &gt; 變更網域 IP</small></a>

					</li>

					<li>

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">

						<a href="?op=editdnstemplate">編輯 DNS 範本<br>

						<small>網域 &gt; 編輯 DNS 範本</small></a>

					</li>

					

					

				</ul>

				

				

				

			</div></div>

		</section>

		

		

		<section class="grid_8">

			<div class="block-border"><div class="block-content">

				<h1>管理介面</h1>

				

				

				<h3>網域操作</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=changedomainserverip" title="變更網域伺服器 IP">變更網域伺服器 IP</a><li>

					<li><a href="?op=editdnstemplate" title="編輯這個網域的 DNS 範本">編輯 DNS 範本</a><li>

					<li><a href="?op=deletedomain" title="刪除網域/空間">刪除網域/空間</a><li>

				</ul>

				

			

			</div></div>

		</section>

		

				

	

	<!-- End content -->

	

	<footer>

		<!--

		<div class="float-left">

			<a href="#" class="button">Help</a>

			<a href="#" class="button">About</a>

		</div>

		-->

		<div class="float-right">

			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> 回頁首</a>

		</div>

		

	</footer>



<!--[if lt IE 8]></div><![endif]-->

<!--[if lt IE 9]></div><![endif]-->