<!-- Content -->

	<article class="container_12">

		

		<section class="grid_4">

			<div class="block-border"><div class="block-content">

				<h1>快速操作</h1>

				

				<ul class="favorites no-margin with-tip" title="快速操作">

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">

						<a href="/ehcp/chive" target="_blank">Chive<br>

						<small>MySQL &gt; Chive</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">

						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>

						<small>MySQL &gt; PHPmyAdmin</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">

						<a href="webmail" target="_blank">Squirrel 網頁郵件<br>

						<small>電子郵件 &gt; Squirrel 網頁郵件</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">

						<a href="webmail2" target="_blank">Roundcube 網頁郵件<br>

						<small>電子郵件 &gt; RoundCube 網頁郵件</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">

						<a href="net2ftp" target="_blank">檔案管理<br>

						<small>FTP &gt; Net2FTP/檔案管理</small></a>

					</li>

					

					

					

				</ul>

				

				

				

			</div></div>

		</section>

		

		

		<section class="grid_8">

			<div class="block-border"><div class="block-content">

				<h1>Control panel</h1>

				

				

			

				

				<h3>電子郵件</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=editemailuserpassword" title="變更密碼">

						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">變更密碼

					</a></li>

					<li><a href="?op=editemailuserautoreply" title="變更自動回覆">

						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">變更自動回覆

					</a></li>

					<li><a href="?op=emailforwardingsself" title="列出/新增郵件轉寄">

						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">列出/新增郵件轉寄

					</a></li>

					<li><a href="webmail" title="網頁郵件/Squirrel 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel 網頁郵件

					</a></li>

					<li><a href="webmail2" title="網頁郵件/Roundcube 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube 網頁郵件

					</a></li>

				</ul>

				

				

			

			</div></div>

		</section>

		

				

	

	<!-- End content -->

	

	<footer>

		<!--

		<div class="float-left">

			<a href="#" class="button">Help</a>

			<a href="#" class="button">About</a>

		</div>

		-->

		<div class="float-right">

			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> 回頁首</a>

		</div>

		

	</footer>



<!--[if lt IE 8]></div><![endif]-->

<!--[if lt IE 9]></div><![endif]-->

