	<!-- Content -->

	<article class="container_12">

		

		<section class="grid_4">

			<div class="block-border"><div class="block-content">

				<h1>快速操作</h1>

				

				<ul class="favorites no-margin with-tip" title="快速操作">

					

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">

						<a href="?op=listpanelusers">列出管理員<br>

						<small>管理員 &gt; 列出所有管理員</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">

						<a href="?op=addpaneluser">新增管理員<br>

						<small>管理員 &gt; 新增管理員<</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">

						<a href="?op=adddomain">新增網域<br>

						<small>網域 &gt; 新增有管理員 &amp; FTP 的網域<</small></a>

					</li>

					

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">

						<a href="?op=doupdatediskquota">更新磁碟配額<br>

						<small>系統 &gt; 更新所有網域的磁碟配額</small></a>

					</li>

					



					

				</ul>

				

				

				

			</div></div>

		</section>

		

		

		<section class="grid_8">

			<div class="block-border"><div class="block-content">

				<h1>管理介面</h1>

				

				<h3>管理員</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listpanelusers" title="列出所有管理員或客戶">

						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">列出管理員

					</a></li>

					<li><a href="?op=addpaneluser" title="新增管理員或客戶">

						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">新增管理員

					</a></li>

				</ul>

				

				<h3>網域</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=selectdomain">

						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">列出網域

					</a></li>

					<li><a href="?op=adddomain">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">新增網域

					</a></li>

					<li><a href="?op=addDomainToThisPaneluser">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">新增額外網域

					</a></li>

					<li><a href="?op=adddomaineasy">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">快速新增網域

					</a></li>

					<li><a href="?op=bulkadddomain">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">新增整批網域

					</a></li>

					<li><a href="?op=adddnsonlydomainwithpaneluser">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">新增有管理員的 DNS 空間

					</a></li>

					</ul>

					<ul class="shortcuts-list">

					<li><a href="?op=adddnsonlydomain">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">只新增 DNS 空間

					</a></li>

					<li><a href="?op=listpassivedomains">

						<img src="{templatedir}/images/icons/web-app/48/domain_passive.png" width="48" height="48">列出待處理網域

					</a></li>

				</ul>

				

				<h3>FTP</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listallftpusers" title="列出所有 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">列出所有 FTP 用戶

					</a></li>

					<li><a href="?op=addftpuser" title="新增 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增 FTP 用戶

					</a></li>

					<li><a href="?op=addftptothispaneluser" title="新增 FTP 在這個管理員下">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增 FTP 在這個管理員下

					</a></li>

					<li><a href="?op=addsubdirectorywithftp" title="新增 FTP 用戶在指定的網域下">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增 FTP 在指定的網域下

					</a></li>

					<li><a href="?op=addsubdomainwithftp" title="在指定網域中新增有 FTP 的子網域">

						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">新增有 FTP 的子網域

					</a></li>

					<li><a href="net2ftp" title="Net2FTP/檔案管理" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">檔案管理

					</a></li>

				</ul>

				

				<h3>電子郵件</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listallemailusers" title="列出所有電子郵件位址">

						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">列出所有電子郵件位址

					</a></li>

					<li><a href="?op=addemailuser" title="新增電子郵件位址到指定網域">

						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">新增電子郵件位址

					</a></li>

					<li><a href="webmail" title="網頁郵件/Squirrel 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel 網頁郵件

					</a></li>

					<li><a href="webmail2" title="網頁郵件/Roundcube 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube

					</a></li>

				</ul>

				

				

				<h3>MySQL</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=domainop&amp;action=listdb" title="列出所有 MYSQL 資料庫">

						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">列出 MySQL 資料庫

					</a></li>

					<li><a href="?op=addmysqldb" title="新增 MYSQL 資料庫 &amp; 的用戶到這個網域">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 資料庫 &amp; 用戶

					</a></li>

					<li><a href="?op=addmysqldbtouser" title="新增 MYSQL 資料庫到已存在的資料庫用戶">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 資料庫到已存在的用戶

					</a></li>

					<li><a href="?op=dbadduser" title="新增 MYSQL 用戶到已存在的資料庫">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 用戶到已存在的資料庫

					</a></li>

					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">

						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin

					</a></li>

					<li><a href="/ehcp/chive" target="_blank" title="Chive">

						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive

					</a></li>

				</ul>

				

				<h3>系統</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=changemypass">

						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">變更密碼

					</a></li>

				</ul>

			</div></div>

		</section>

		

				

	

	<!-- End content -->

	

	<footer>

		<!--

		<div class="float-left">

			<a href="#" class="button">Help</a>

			<a href="#" class="button">About</a>

		</div>

		-->

		<div class="float-right">

			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> 回頁首</a>

		</div>

		

	</footer>



<!--[if lt IE 8]></div><![endif]-->

<!--[if lt IE 9]></div><![endif]-->