<!-- Content -->

	<article class="container_12">

		

		<section class="grid_4">

			<div class="block-border"><div class="block-content">

				<h1>快速操作</h1>

				

				<ul class="favorites no-margin with-tip" title="快速操作">

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">

						<a href="/ehcp/chive" target="_blank">Chive<br>

						<small>MySQL &gt; Chive</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">

						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>

						<small>MySQL &gt; PHPmyAdmin</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">

						<a href="webmail" target="_blank">Squirrel 郵件信箱<br>

						<small>電子郵件 &gt; Squirrel 郵件信箱</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">

						<a href="webmail2" target="_blank">Roundcube 郵件信箱<br>

						<small>電子郵件 &gt; RoundCube 郵件信箱</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">

						<a href="net2ftp" target="_blank">檔案管理<br>

						<small>FTP &gt; Net2FTP/檔案管理</small></a>

					</li>

					

					<li>

						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">

						<a href="?op=backups">備份網域<br>

						<small>系統 &gt; 產生/列出網域的備份</small></a>

					</li>

					

				</ul>

				

				

				

			</div></div>

		</section>

		

		

		<section class="grid_8">

			<div class="block-border"><div class="block-content">

				<h1>Control Panel</h1>

				

				

				<h3>網域操作</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=subdomains" title="列出子網域">

						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">列出子網域

					</a></li>

					<li><a href="?op=addsubdomain" title="新增子網域">

						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">新增子網域

					</a></li>

					<li><a href="?op=customdns" title="列出自訂 DNS">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">列出自訂 DNS

					</a></li>

					<li><a href="?op=addcustomdns" title="新增自訂 DNS">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">新增自訂 DNS

					</a></li>

					<li><a href="?op=customhttp" title="列出自訂網頁">

						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">列出自訂網頁

					</a></li>

					<li><a href="?op=addcustomhttp" title="新增自訂網頁">

						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">新增自訂網頁

					</a></li>

					</ul>

					<ul class="shortcuts-list">

					<li><a href="?op=directories" title="列出受密碼保護的目錄">

						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">列出受密碼保護的目錄

					</a></li>

					<li><a href="?op=adddirectory" title="新增受密碼保護的目錄">

						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">新增受密碼保護的目錄

					</a></li>

					<li><a href="?op=editdnstemplate" title="編輯這個網域的 DNS 範本">

						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">編輯 DNS 範本

					</a></li>

					<li><a href="?op=editapachetemplate" title="編輯這個網域的網頁範本">

						<img src="{templatedir}/images/icons/web-app/48/apache-2.png" width="48" height="48">編輯網頁範本

					</a></li>

					<li><a href="?op=editdomainaliases" title="編輯這個網域的網域別名">

						<img src="{templatedir}/images/icons/web-app/48/alias.gif" width="48" height="48">編輯網域別名

					</a></li>

				</ul>

				

				<h3>FTP</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listallftpusers" title="列出所有 FTP 用戶">

						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">列出所有 FTP 用戶

					</a></li>

					<li><a href="?op=addsubdirectorywithftp" title="新增有 FTP 帳號的子目錄 (在網域名稱底下)">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增有 FTP 帳號的子目錄

					</a></li>

					<li><a href="?op=addftptothispaneluser" title="新增額外 FTP 帳號在我的空間">

						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">新增額外 FTP 帳號在我的空間

					</a></li>

					<li><a href="?op=addsubdomainwithftp" title="在指定網域中新增有 FTP 帳號的子網域">

						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">新增有 FTP 帳號的子網域

					</a></li>

					<li><a href="net2ftp" title="Net2FTP/檔案管理" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">檔案管理

					</a></li>

				</ul>

				

				<h3>電子郵件</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=listallemailusers" title="列出所有電子郵件地址">

						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">列出所有電子郵件地址

					</a></li>

					<li><a href="?op=addemailuser" title="新增電子郵件地址到指定網域">

						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">新增電子郵件地址

					</a></li>

					<li><a href="?op=bulkaddemail" title="新增整批電子郵件地址到指定網域">

						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">新增整批電子郵件地址

					</a></li>

					<li><a href="?op=emailforwardings" title="列出電子郵件轉寄">

						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">列出電子郵件轉寄

					</a></li>

					<li><a href="?op=addemailforwarding" title="新增電子郵件轉寄">

						<img src="{templatedir}/images/icons/web-app/48/emailforward_add.png" width="48" height="48">新增電子郵件轉寄

					</a></li>

					</ul>

					<ul class="shortcuts-list">

					<li><a href="webmail" title="網頁郵件/Squirrel 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel 網頁郵件

					</a></li>

					<li><a href="webmail2" title="網頁郵件/Roundcube 網頁郵件" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube 網頁郵件

					</a></li>

				</ul>

				

				

				<h3>MySQL</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=domainop&amp;action=listdb" title="列出所有 MYSQL 資料庫">

						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">列出 MySQL 資料庫

					</a></li>

					<li><a href="?op=addmysqldb" title="新增 MYSQL 資料庫 &amp; 用戶到網域">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 資料庫 &amp; 用戶

					</a></li>

					<li><a href="?op=addmysqldbtouser" title="新增 MYSQL 資料庫到已存在的資料庫用戶">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 資料庫到已存在的用戶

					</a></li>

					<li><a href="?op=dbadduser" title="新增 MYSQL 用戶到已存在的資料庫">

						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">新增 MySQL 用戶到已存在的資料庫

					</a></li>

					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">

						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin

					</a></li>

					<li><a href="/ehcp/chive" target="_blank" title="Chive">

						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive

					</a></li>

				</ul>

				

				<h3>進階</h3>

				<ul class="shortcuts-list">

					<li><a href="?op=editdomain">

						<img src="{templatedir}/images/icons/web-app/48/active-deactive.png" width="48" height="48">啟用 / 停用網域

					</a></li>

					<li><a href="?op=transferdomain">

						<img src="{templatedir}/images/icons/web-app/48/transfer.png" width="48" height="48">傳送網域

					</a></li>

					<li><a href="?op=backups">

						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">產生 / 列出備份網域

					</a></li>

					<li><a href="?op=addredirect">

						<img src="{templatedir}/images/icons/web-app/48/domain_redirect.png" width="48" height="48">轉到其他網址

					</a></li>

					<li><a href="?op=domainsettings">

						<img src="{templatedir}/images/icons/web-app/48/settings.png" width="48" height="48">變更設定

					</a></li>

					</ul>

					<ul class="shortcuts-list">

					<li><a href="?op=deletedomain">

						<img src="{templatedir}/images/icons/web-app/48/Delete.png" width="48" height="48">刪除帳號

					</a></li>

					<li><a href="http://www.{selecteddomain}/webstats/index.html" target="_blank">

						<img src="{templatedir}/images/icons/web-app/48/webstats.png" width="48" height="48">網頁狀態

					</a></li>

					<li><a href="?op=addscript">

						<img src="{templatedir}/images/icons/web-app/48/install.gif" width="48" height="48">安裝程式

					</a></li>

					<li><a href="?op=addslavedns">

						<img src="{templatedir}/images/icons/web-app/48/dns_slave.png" width="48" height="48">新增-移除次要 DNS

					</a></li>					

					<li><a href="?op=changemypass">

						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">變更密碼

					</a></li>

				</ul>

			</div></div>

		</section>

		

				

	

	<!-- End content -->

	

	<footer>

		<!--

		<div class="float-left">

			<a href="#" class="button">Help</a>

			<a href="#" class="button">About</a>

		</div>

		-->

		<div class="float-right">

			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> 回頁首</a>

		</div>

		

	</footer>



<!--[if lt IE 8]></div><![endif]-->

<!--[if lt IE 9]></div><![endif]-->